@{
    ViewData["Title"] = "Faq";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAQ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/css/faq.css" asp-append-version="true" />
</head>

<body>

    <div class="content">

        <h1> Q1.How to add the tables necessary for testing?
            <p>
               A1.You need to follow these steps:
             connect to the database, register an admin account, assign the role Administrator(2) in the role,user tables then add an author
             , a publisher and a comic.
            </p>
        </h1>
        <h1> Q2.How to create the comics?
            <p>
                A2.When you create a comic you need to fill in all the details neccessary and the most important thing is to 
                put the URL of an image online if you want the image of the comic to appear.
            </p>
        </h1>
        <h1> Q3.How to search for comics?
            <p>
                A3.Any User of the application can search for the comics. It doesn't matter if they are authenticated or not.
                All they need to do is to click on Search comic in the navbar, search a comic by name and then click on choose comic.
            </p>
        </h1>
    </div>

</body>


</html>