@model ComicsApp.Models.Comic

@{
    ViewData["Title"] = "Edit";
}
<head>
	<link rel="stylesheet" href="~/css/crudstyles.css" asp-append-version="true" />
</head>
<h1>Edit</h1>

<h4>Comic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComicId" />
            <div class="form-group">
                <label asp-for="ComicName" class="control-label"></label>
                <input asp-for="ComicName" class="form-control" />
                <span asp-validation-for="ComicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComicCreated" class="control-label"></label>
                <input asp-for="ComicCreated" class="form-control" />
                <span asp-validation-for="ComicCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorID" class="control-label"></label>
                <select asp-for="AuthorID" class="form-control" asp-items="ViewBag.AuthorID"></select>
                <span asp-validation-for="AuthorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherID" class="control-label"></label>
                <select asp-for="PublisherID" class="form-control" asp-items="ViewBag.PublisherID"></select>
                <span asp-validation-for="PublisherID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
